@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

header {
  background-color: black;
}

/* grid */
.container {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(3, 1fr);
}

/* GRID styles */
.container header,
.container nav,
.container section {
  grid-column: span 3;
}
.container footer {
  grid-column: span 3;
}
.container aside {
  grid-column: span 3;
}

/* BANNER */
 header .sss {
  display: block;
  background-color: black;
  text-transform: uppercase;
  font-family: 'Poiret One', cursive, Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  border: 1px solid black;
  z-index: 1;
  /* анимация */
       background: linear-gradient(90deg, #000, #fff, #000);
       background-repeat: no-repeat;
       background-size: 80%;
       animation: animate 3s linear infinite;
       -webkit-background-clip: text;
       -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
      @keyframes animate {
        0% { background-position: -500%; }
        100% { background-position: 500%; }
}

    header:first-child {
      color: black;
}

    /* nav styles */
    nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
}

    ul li {
        text-align: center;
        flex-grow: 1;
}

    nav a {
        width: 100%;
        height: 60px;
        display: block;
        /* text-align: justify;
        text-align-last: justify; */
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        line-height: 60px;
        background-color: rgba(100%, 100%, 100%, 0);
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        transition: background-color .9s ease-in-out;
        align-self: center;
}

    a:hover {
      background-color: black;
      color: white;
}


/* Стилизация соц сетей */
   aside .social-icons {
      display: flex;
      flex-direction: row;
      list-style: none;
      background-color: black;
      justify-content: center;
      align-self: center;
      padding-top: 10px;
      padding-bottom: 0;
      position: sticky;
      margin: 0;
}

  aside .social-icons>li {
        margin-left: 0.25em;
        margin-right: 0.25em;
        height: 3em;
        width: 2.5em;
        align-items: center;
        flex-grow: 0
}

  aside .social-icons a {
        position: relative;
        background-color: #eee;
        display: block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color .8s ease-in-out;
        width: 2.5em;
        height: 2.5em;
        border-radius: .5em;
}

  aside .social-icons a:hover {
        background-color: #e0e0e0;
        filter: invert(100%);
}

      .social-icons a::before {
        content: "";
        position: absolute;
        width: 2.2em;
        height: 2.2em;
        left: .16em;
        top: .16em;
          background: transparent no-repeat center center;
        background-size: 100% 100%;
}

      .social-icons .social-icon-instagram::before {
        background-image: url("../icons/instagram.png");
}
      .social-icons .social-icon-fb::before {
        background-image: url("../icons/facebook.png");
}
      .social-icons .social-icon-viber::before {
        background-image: url("../icons/viber.png");
}
      .social-icons .social-icon-telegram::before {
        background-image: url("../icons/telegram.png");
}
      .social-icons .social-icon-email::before {
        background-image: url("../icons/mail.png");
}

    /* CAROUSEL */
      .carousel {
        height: 75vh !important;
        overflow: hidden;
}
      .carousel-inner img {
        height: 75vh !important;
        overflow: visible;
        margin: auto;
}
       .carousel-indicators li {
        border-color: #000;
}
      .carousel-indicators .active {
        background-color: #000;
}
      .carousel-control-next-icon,
      .carousel-control-prev-icon {
         background-color: black;
         width: 25%;
         opacity: .3;
         filter: invert(100%);
}

/*++++++++ FOOTER +++++++++++++ */
      .footer {
        border: 1px solid black;
        background-color: black;
        color: white;
        text-align: center;
        /* position: fixed;
        bottom: 0; */
        font-size: 0.8em;
        font-family: 'Raleway', sans-serif;
}
/* hide toggle */
        .toggle {
          display: none;
}

/* media query for nav styles */
@media only screen and (min-width: 500px) and (max-width: 1200px) {

  nav ul {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-content: center;
    list-style: none;
    padding: 0;
}

  nav ul a {
    color: white;
    height: 70px;
    line-height: 70px;
}

  .toggle {
    display: block;
    width: 100%;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 60px;
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: background-color .9s ease-in-out;
    text-align: center;
}

  .toggle:hover {
    background-color: white;
    color: black;
}

  nav li a:hover {
    background-color: white;
    color: black;
}

  #nav {
    transition: transform .3s ease-in-out;
    top: 75px;
    bottom: 0;
    height: 45%;
    position: absolute;
    width: 60%;
    left: -100%;
    z-index: 5;
    color: white;
    background-color: black;
}

  #nav:target {
    /* transform: translateX(100%); */
    transition: transform .3s ease-in-out;
    top: 74px;
    bottom: 0;
    height: 70%;
    position: absolute;
    width: 60%;
    left: 12px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

  #nav:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

  .close {
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 3em;
    position: relative;
    top: 0;
    color: white;
    background-color: black;
}
    .footer {
    font-size: 0.5em;
    }
}

/* +++++++++++++++++++small size+++++++++++++++++++++++ */

@media only screen and (max-width: 500px) {
    header .sss {
     font-size: 2em;
}

    nav ul {
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       justify-content: flex-end;
       align-content: center;
       list-style: none;
       padding: 0;
       font-size: 1em;
}

      nav ul a {
        color: white;
        height: 45px;
        line-height: 45px;
    }

    .toggle {
      display: block;
      width: 100%;
      height: 40px;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      line-height: 40px;
      background-color: black;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      font-size: 1.0em;
      transition: background-color .9s ease-in-out;
      text-align: center;
}

    /* .toggle:hover {
      background-color: white;
      color: black;
} */

    /* nav li a:hover {
      background-color: white;
      color: black;
} */

    #nav {
      transition: transform .3s ease-in-out;
      top: 73px;
      bottom: 0;
      height: 75%;
      position: absolute;
      width: 60%;
      left: -100%;
      z-index: 5;
      color: white;
      background-color: black;
      font-size: 0.7em;
  }

    #nav:target {
      /* transform: translateX(100%); */
      transition: transform .3s ease-in-out;
      top: 50px;
      bottom: 0;
      height: 75%;
      position: absolute;
      width: 60%;
      left: 12px;
      z-index: 5;
      color: black;
      background-color: rgba(0, 0, 0, 0.2);
}

    /* #nav:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: black;
} */

    .close {
      text-align: center;
      display: block;
      text-decoration: none;
      font-size: 2em;
      position: relative;
      top: 0;
      color: white;
      background-color: black;
      }

      .footer {
      font-size: 0.5em;
}
}
