@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
    background-color: black;
}

/* grid */
.container {
  display: grid;
  /* border: 1px solid black; */
  grid-template-columns: repeat(1, 1fr);
}

/* specific item styles */
.container header,
.container footer,
.container section {
  grid-column: span 3;
}
.container .footer {
  grid-column: span 3;
}
.container aside {
  grid-column: span 3;
}

.contact-form {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(2, 1fr);
}

/* BANNER */

 header .sss {
  display: block;
  background-color: black;
  text-transform: uppercase;
  font-family: 'Poiret One', cursive, Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  border: 1px solid black;
  z-index: 1;
  /* анимация */
       background: linear-gradient(90deg, #000, #fff, #000);
       background-repeat: no-repeat;
       background-size: 80%;
       animation: animate 3s linear infinite;
       -webkit-background-clip: text;
       -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
      @keyframes animate {
        0% { background-position: -500%; }
        100% { background-position: 500%; }
}

header:first-child {
  color: black;
}

/* nav styles */
footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
    text-align: center;
    flex-grow: 1;
}

footer a {
    width: 100%;
    height: 60px;
    display: block;
    /* text-align: justify;
    text-align-last: justify; */
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 60px;
    background-color: rgba(100%, 100%, 100%, 0);
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    transition: background-color .9s ease-in-out;
    align-self: center;
}

a:hover {
  background-color: black;
  color: white;
}

/* Стилизация соц сетей */
   aside .social-icons {
      display: flex;
      flex-direction: row;
      list-style: none;
      background-color: black;
      justify-content: center;
      align-self: center;
      padding-top: 10px;
      padding-bottom: 0;
      position: sticky;
      margin: 0;
      }

  aside .social-icons>li {
        margin-left: 0.25em;
        margin-right: 0.25em;
        height: 3em;
        width: 2.5em;
        align-items: center;
        flex-grow: 0
      }
  aside .social-icons a {
        position: relative;
        background-color: #eee;
        display: block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color .8s ease-in-out;
        width: 2.5em;
        height: 2.5em;
        border-radius: .5em;
      }
  aside .social-icons a:hover {
        background-color: #e0e0e0;
        filter: invert(100%);
      }

      .social-icons a::before {
        content: "";
        position: absolute;
        width: 2.2em;
        height: 2.2em;
        left: .16em;
        top: .16em;
          background: transparent no-repeat center center;
        background-size: 100% 100%;
      }

      .social-icons .social-icon-instagram::before {
        background-image: url("../icons/instagram.png");
      }
      .social-icons .social-icon-fb::before {
        background-image: url("../icons/facebook.png");
      }
      .social-icons .social-icon-viber::before {
        background-image: url("../icons/viber.png");
      }
      .social-icons .social-icon-telegram::before {
        background-image: url("../icons/telegram.png");
      }
      .social-icons .social-icon-email::before {
        background-image: url("../icons/mail.png");
      }

      /* FOOTER */
      .footer {
        border: 1px solid black;
        background-color: black;
        color: white;
        text-align: center;
        /* position: fixed;
        bottom: 0; */
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
      }

      /* hide toggle */
      .toggle {
        display: none;
      }

  .close {
          text-align: center;
          display: block;
          text-decoration: none;
          font-size: 2em;
          position: relative;
          top: 0;
          color: white;
          background-color: black;
          }
      }


/*Header*/
.header {
  padding: 0;
  background: white;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  text-align: center;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
}

.header h2 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  color: rgba(255, 255, 255, .7);
}

.footer {
  margin: 0 0 5px;
  font-size: 13px;
  color: #888;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 1.6em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

/* ++++CONTACT FORM++++++ */
    .contact-form {
      display: grid;
      border: 1px solid black;
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 10px;
    }

  /* specific item styles */
  .contact-form .photo {
    grid-row: span 1;
  }
  .contact-form .form {
    grid-row: span 1;
  }

.form-main {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  line-height: 60px;
  background-color: rgba(100%, 100%, 100%, 0);
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  transition: background-color .9s ease-in-out;
  display: block;
  text-align: center;
}

.btn {
  font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 1.5em;
}




.input-field>label {
    color: black;}

.input-field input[type=text]:focus + label {
       color: black;}

       .input-field .prefix.active {
          color: black;}

.input-field input[type=text]:focus {
               border-bottom: 1px solid #fff;
               box-shadow: 0 1px 0 0 #fff;
             }

.input-field .validate {
        margin-left: 0; }

.form {
  padding: 10px;
  width: 90%;
}

.photo {
  display: block;
}


/* media query for nav styles */
@media only screen and (min-width: 500px) and (max-width: 1000px) {

  .contact-form {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
/* +++++++++++++++++++small size+++++++++++++++++++++++ */

@media only screen and (max-width: 500px) {

  header .sss {
   font-size: 2em;
}

.contact-form {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
}
